<section>
  <h2>Connexion</h2>
    
    <form class="connexion"  id="form-auth">
        <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="password" required>

            <div class="erreur" id="form-erreur"></div>
            

        <button type="submit" value="{{bouton}}">Se connecter</button>
        <p>Vous n'avez pas de compte ? <a href="/inscription">Créez un compte</a></p>

        
    </form>
        

</section>

<script type="module" src="./js/connexion.js"></script>