<section>
  
    <h2>Inscription</h2>
    <form class="inscription"  id="inscription" action="/signup" method="post">
        <div class="form-row">
            <div class="form-group">
                <label for="nom">Nom:</label>
                <input type="text" id="nom" name="nom" required>
            </div>

            <div class="form-group">
                <label for="prenom">Prénom:</label>
                <input type="text" id="prenom" name="prenom" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group full-width">
                <label for="email">Adresse e-mail:</label>
                <input type="email" id="email" name="email" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group full-width">
                <label for="password">Mot de passe:</label>
                <input type="password" id="password" name="password" required>
            </div>
        </div>
            <div class="erreur" id="form-erreur"></div>
        <button type="submit">S'inscrire</button>
    </form>
</section>

<script type="module" src="./js/inscription.js"></script>